<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509954020806-tfi2av43cbm9cqhtptg5ol45epea2g0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509954020806-tfi2av43cbm9cqhtptg5ol45epea2g0u</string>
	<key>API_KEY</key>
	<string>AIzaSyB-F_14Br6D1a1tMjViOppwwT96MJ6ktXU</string>
	<key>GCM_SENDER_ID</key>
	<string>509954020806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tickly</string>
	<key>PROJECT_ID</key>
	<string>tickly-b339e</string>
	<key>STORAGE_BUCKET</key>
	<string>tickly-b339e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509954020806:ios:34c1f95707528a20b60ec7</string>
	<key>DATABASE_URL</key>
	<string>https://tickly-b339e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>